# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
#
.build/
Package.resolved

# CocoaPods
#
Pods/
# Add this line if you use cocoapods.
# Uncomment if you have a framework
# *.xcworkspace

# Carthage
#
Carthage/Build

# fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Code Injection
#
!libSwiftMonkeyPaws.a
*.bcsymbolmap

# Build generated data
#
*.xcuserstate
xcshareddata

# Playgrounds
#
timeline.xctimeline
playground.xcworkspace

# Other
#
*.swp
*.lock
*.xcscmblueprint
